@model IEnumerable<BookLoop.ViewModels.PenaltyTransactionsViewModel>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
               借閱人
            </th>
            <th>
                罰金規則
            </th>
            <th>
                罰金單位
            </th>
            <th>
                數量
            </th>
            <th>
                總價
            </th>
            <th>
                結清時間
            </th>
            <th>繳費顯示</th>
            <th>操作欄位</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@Html.DisplayFor(modelItem => item.MemberName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.ReasonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAt)
                </td>
            <td>
                    @if (item.PaidAt == null)
                    {
                        <span class="text-danger fw-bold">未繳</span>
                    }
                    else
                    {
                        <span class="text-success fw-bold">已繳費</span>
                    }
                    
            </td>
                <td>
                    <form asp-action="Pay" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.PenaltyID" />
                        <button type="submit" class="btn btn-danger btn-sm">繳款</button>
                    </form>
                </td>
            </tr>
}
    </tbody>
</table>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">繳費</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定繳費嗎
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">確定</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                
            </div>
        </div>
    </div>
</div>