@model IEnumerable<BookLoop.ViewModels.PenaltyTransactionsViewModel>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
               借閱人
            </th>
            <th>
                罰金規則
            </th>
            <th>
                罰金單位
            </th>
            <th>
                數量
            </th>
            <th>
                總價
            </th>
            <th>
                結清時間
            </th>
            <th>繳費顯示</th>
            <th>操作欄位</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@Html.DisplayFor(modelItem => item.MemberName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.ReasonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAt)
                </td>
            <td>
                    @if (item.PaidAt == null)
                    {
                        <span class="text-danger fw-bold">未繳</span>
                    }
                    else
                    {
                        <span class="text-success fw-bold">已繳費</span>
                    }
                    
            </td>
                <td>@if (item.PaidAt == null)
                    {
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#givemoneyModal-@item.PenaltyID">
                            繳費
                        </button>
                    
                    <div class="modal fade" id="givemoneyModal-@item.PenaltyID" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content ">
                                <div class="modal-header bg-primary">
                                        <h2 class="modal-title text-black">繳費</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
										<h3>確定繳費嗎</h3>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Pay" method="post" class="d-inline">
                                            <input type="hidden" name="id" value="@item.PenaltyID" />
                                        <button type="submit" class="btn btn-success">繳款</button>
                                    </form>                                    
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </td>
            </tr>
}
    </tbody>
</table>
