@model IEnumerable<ReportMail.Models.ReportFilter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Options)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDefinition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Options)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDefinition.ReportDefinitionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportFilterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportFilterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportFilterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
