@model BookLoop.Ordersys.Models.Return

@{
    ViewData["Title"] = "Details";
}

<h1>退貨資訊</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnType)
        </dt>
        <dd class = "col-sm-10">
            @{
                string typeText = Model.ReturnType switch
                {
                    0 => "整單",
                    1 => "單筆",
                    _ => "未知類型"
                };
            }
            @typeText
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @{
                string statusText = Model.Status switch
                {
                    0 => "申請中",
                    1 => "審核中",
                    2 => "已出貨",
                    3 => "退貨中",
                    4 => "完成訂單",
                    _ => "未知狀態"
                };
            }
            @statusText
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
    </dl>

    <dl>
        <dt class="col-sm-2">客戶姓名</dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.CustomerName
        </dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.Email
        </dd>

        <dt class="col-sm-2">電話</dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.Phone
        </dd>

        <dt class="col-sm-2">地址</dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.Address
        </dd>
    </dl>
</div>
<div>

    <a asp-controller="Returns" asp-action="Index" class="btn btn-secondary mt-3">返回退貨列表</a>
</div>
