@model ReportMail.Models.ReportExportLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportExportLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
