@model BookLoop.Models.Book

@{
    ViewData["Title"] = "書籍詳細資訊";
}

<h2>書籍詳細資訊</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">BookID</dt>
        <dd class="col-sm-10">@Model.BookID</dd>

        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>

        <dt class="col-sm-2">書名</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">出版社</dt>
        <dd class="col-sm-10">@Model.Publisher?.PublisherName</dd>

        <dt class="col-sm-2">分類</dt>
        <dd class="col-sm-10">@Model.Category?.CategoryName</dd>

        <dt class="col-sm-2">發行日</dt>
        <dd class="col-sm-10">
            @(
                        Model.PublishDate.HasValue
                        ? Model.PublishDate.Value.ToString("yyyy-MM-dd")
                        : "未填寫"
            )
        </dd>

        <dt class="col-sm-2">內容簡介</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<div>
    <a asp-area="Books" asp-controller="Books" asp-action="Edit" asp-route-id="@Model.BookID" class="btn btn-warning">編輯</a>
    <a asp-area="Books" asp-controller="Books" asp-action="Index" class="btn btn-secondary">返回清單</a>
</div>
