@model BookLoop.Ordersys.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除訂單</h1>

<h3>確定刪除該筆訂單嗎?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberCouponID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberCouponID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponTypeSnap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponTypeSnap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponValueSnap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponValueSnap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponNameSnap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponNameSnap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponDiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponDiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">返回訂單列表</a>
    </form>
</div>
