@model BookLoop.Models.Order

@{
    ViewData["Title"] = "Details";
}


<h1>訂單詳細資訊</h1>

<div>
    <h4>訂單內容</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @{
                string statusText = Model.Status switch
                {
                    0 => "待付款",
                    1 => "已下訂",
                    2 => "已出貨",
                    3 => "完成訂單",
                    4 => "已取消",
                    _ => "未知狀態"
                };
            }
            @statusText
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberCouponID)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberCouponID)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponTypeSnap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponTypeSnap)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponValueSnap)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponValueSnap)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponNameSnap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponNameSnap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponDiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponDiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
    </dl>
    <dl>
        <dt class="col-sm-2">客戶姓名</dt>
        <dd class="col-sm-10">
            @Model.Customer.CustomerName
            </dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            @Model.Customer.Email
            </dd>

        <dt class="col-sm-2">電話</dt>
        <dd class="col-sm-10">
            @Model.Customer.Phone
            </dd>

        <dt class="col-sm-2">地址</dt>
        <dd class="col-sm-10">
            @Model.Customer.Address
            </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">返回訂單列表</a>
    @* <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a> *@
</div>
