@model IEnumerable<BookLoop.Models.OrderDetail>

@{
    ViewData["Title"] = "訂單明細";
    var hasData = Model != null && Model.Any();
}
<h2>訂單明細</h2>

@if (hasData)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.First().ProductName)</th>
                <th>@Html.DisplayNameFor(m => m.First().Quantity)</th>
                <th>@Html.DisplayNameFor(m => m.First().UnitPrice)</th>
                <th>@Html.DisplayNameFor(m => m.First().ProductDiscountAmount)</th>
                <th>@Html.DisplayNameFor(m => m.First().CreatedAt)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model)
            {
                <tr>
                    <td>@detail.ProductName</td>
                    <td>@detail.Quantity</td>
                    <td>@detail.UnitPrice</td>
                    <td>@detail.ProductDiscountAmount</td>
                    <td>@detail.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>沒有找到任何訂單明細。</p>
}


<p>
    <a asp-action="Index" class="btn btn-secondary">返回訂單列表</a>
</p>