@model BookLoop.Models.ReportExportLog
@{
	ViewData["Title"] = "匯出紀錄詳情";
}
<h3 class="mb-3">匯出紀錄 #@Model.ExportID</h3>
<dl class="row">
	<dt class="col-sm-2">RequestedAt</dt>
	<dd class="col-sm-10">@Model.RequestedAt</dd>
	<dt class="col-sm-2">ProcessedAt</dt>
	<dd class="col-sm-10">@Model.ProcessedAt</dd>
	<dt class="col-sm-2">UserID</dt>
	<dd class="col-sm-10">@Model.UserID</dd>
	<dt class="col-sm-2">SupplierID</dt>
	<dd class="col-sm-10">@Model.SupplierID</dd>
	<dt class="col-sm-2">DefinitionID</dt>
	<dd class="col-sm-10">@Model.DefinitionID</dd>
	<dt class="col-sm-2">Email</dt>
	<dd class="col-sm-10">@Model.TargetEmail</dd>
	<dt class="col-sm-2">File</dt>
	<dd class="col-sm-10">@Model.AttachmentFileName (@(Model.AttachmentBytes / 1024) KB)</dd>
	<dt class="col-sm-2">Status</dt>
	<dd class="col-sm-10">@Model.Status @Model.ErrorMessage</dd>
	<dt class="col-sm-2">IP</dt>
	<dd class="col-sm-10">@Model.Ip</dd>
	<dt class="col-sm-2">UA</dt>
	<dd class="col-sm-10">@Model.UserAgent</dd>

</dl>


<a class="btn btn-sm btn-secondary" href="@Url.Action("Index")">回列表</a>
